## TUBES Struktur Data Kelompok 11 RC

Anggota :
1. Rafi Fadhlillah 121450143
2. Jelli Kurnilia 121450083
3. Tsabbit Nasrulloh 121450017
4. Putri Durrotul Shopia 121450116
5. Nazwa Nabilla 121450122

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/rafif/Downloads/OzoneHole_Data.csv")
df.head()

   Year  Hole Area  Minimum Ozone
0  1979        0.1          225.0
1  1980        1.4          203.0
2  1981        0.6          209.5
3  1982        4.8          185.0
4  1983        7.9          172.9

## Cek tipe data dan data null

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           42 non-null     int64
 1   Hole Area      42 non-null     float64
 2   Minimum Ozone  42 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.1 KB

## Cek apakah ada data NaN

In [4]:
df.isna().sum()

Year             0
Hole Area        0
Minimum Ozone    0
dtype: int64

## Mengubah ke list

In [5]:
year = df['Year'].tolist()
for i in year:
    print(i, end=", ")

1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,

In [6]:
type(year)

list

In [7]:
hole_area = df['Hole Area'].tolist()
for i in hole_area:
    print(i, end=", ")

0.1, 1.4, 0.6, 4.8, 7.9, 10.1, 14.2, 11.3, 19.3, 10.0, 18.7, 19.2, 18.8, 22.3, 24.2, 23.6, 22.8, 22.1, 25.9, 23.3, 24.8, 25.0, 12.0, 25.8, 19.5, 24.4, 26.6, 22.0, 25.2, 22.0, 19.4, 24.7, 17.8, 21.0, 20.9, 25.6, 20.7, 17.4, 22.9, 9.3, 23.5, 23.3,

In [8]:
type(hole_area)

list

In [9]:
ozone = df['Minimum Ozone'].tolist()
for i in ozone:
    print(i, end=", ")

225.0, 203.0, 209.5, 185.0, 172.9, 163.6, 146.5, 157.8, 123.0, 171.0, 127.0, 124.2, 119.0, 114.3, 112.6, 92.3, 108.8, 108.8, 98.8, 102.9, 98.7, 100.9, 157.4, 108.7, 123.5, 113.8, 98.4, 116.2, 114.0, 107.9, 128.5, 106.5, 139.3, 132.7, 128.6, 117.2, 123.2, 141.8, 111.8, 167.0, 102.6, 103.3,

In [10]:
type(ozone)

list

## Queue OOP

In [11]:
class Queue:
    def __init__(self):
        self._data = []
        self._size = 0
    
    def __len__(self):
        return self._size
    
    def isempty(self):
        return self._size == 0
    
    @property
    def view(self):
        return self._data
    
    def first(self):
        return self._data[0]
    
    def last(self):
        return self._data[-1]
    
    def first(self):
        return self._data[0]
    
    def enqueue(self, item):
        self._size += 1
        self._data.append(item)
        
    def dequeue(self):
        if self.isempty():
            raise Exception('queue kosong')
            
        else :
            self._size -= 1
            return self._data.pop(0)

In [12]:
if __name__ == "__main__":
    q = Queue()
    for i in ozone:
        q.enqueue(i)
        print(i)

225.0
203.0
209.5
185.0
172.9
163.6
146.5
157.8
123.0
171.0
127.0
124.2
119.0
114.3
112.6
92.3
108.8
108.8
98.8
102.9
98.7
100.9
157.4
108.7
123.5
113.8
98.4
116.2
114.0
107.9
128.5
106.5
139.3
132.7
128.6
117.2
123.2
141.8
111.8
167.0
102.6
103.3

## Cek data Sebelum di dequeue

In [13]:
len(q)

42

In [14]:
df.tail()

    Year  Hole Area  Minimum Ozone
37  2017       17.4          141.8
38  2018       22.9          111.8
39  2019        9.3          167.0
40  2020       23.5          102.6
41  2021       23.3          103.3

In [15]:
q.first()

225.0

In [16]:
q.last()

103.3

## Dequeue(hapus data)

In [17]:
q.dequeue()

225.0

## Setelah di dequeue

In [18]:
len(q)

41

In [19]:
q.view

[203.0,
 209.5,
 185.0,
 172.9,
 163.6,
 146.5,
 157.8,
 123.0,
 171.0,
 127.0,
 124.2,
 119.0,
 114.3,
 112.6,
 92.3,
 108.8,
 108.8,
 98.8,
 102.9,
 98.7,
 100.9,
 157.4,
 108.7,
 123.5,
 113.8,
 98.4,
 116.2,
 114.0,
 107.9,
 128.5,
 106.5,
 139.3,
 132.7,
 128.6,
 117.2,
 123.2,
 141.8,
 111.8,
 167.0,
 102.6,
 103.3]

In [20]:
q.first()

203.0

In [21]:
q.last()

103.3

## Enqueue(Tambah Data)

In [22]:
q.enqueue(123.45)
q.view

[203.0,
 209.5,
 185.0,
 172.9,
 163.6,
 146.5,
 157.8,
 123.0,
 171.0,
 127.0,
 124.2,
 119.0,
 114.3,
 112.6,
 92.3,
 108.8,
 108.8,
 98.8,
 102.9,
 98.7,
 100.9,
 157.4,
 108.7,
 123.5,
 113.8,
 98.4,
 116.2,
 114.0,
 107.9,
 128.5,
 106.5,
 139.3,
 132.7,
 128.6,
 117.2,
 123.2,
 141.8,
 111.8,
 167.0,
 102.6,
 103.3,
 123.45]